
   :root {
       --primary-text-color: #212121;
       --secondary-text-color: #757575;
       --light-text-color: #ffffff;
       --accent-text-color: #2196f3;
       --primary-backgraund-color: #ffffff;
       --secondary-backgraund-color: #2f303a;
       --font-family: Roboto, sans-serif;
       --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   }